@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@using DiaTics2025.Pages;

<header id="header" class="header d-flex align-items-center fixed-top">
    <NavBarMain />
</header>

<main class="main">
    @Body
</main>


<footer id="footer" class="footer pb-0">
    <div class="container copyright text-center mt-4 fw-bolder">
        <p>TecNM Serdán</p>
        <p>Ingeniería Informática</p>       
        <div class="credits">
            <p>by gussross @DateTime.Now.Year</p>
            <p>by jasmine @DateTime.Now.Year</p>
        </div>
    </div>
</footer>



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JSRuntime.InvokeVoidAsync("initializeFlexStart");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error al inicializar JavaScript: {ex.Message}");
            }
        }
    }
}
