<nav id="navmenu" class="navmenu">
    <ul>
        <li><a href="#hero">Inicio<br></a></li>
        <li><a href="#about">Programa</a></li>
        <li><a href="#services">Registro</a></li>
        <li><a href="#portfolio">Invitados especiales</a></li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>