@using Domain.Interfaces

<!-- Hero Section -->
<section id="Inicio" class="inicio section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center ">
                <h1 class="tittle fw-bolder" style="font-weight: bold; font-size: 3rem;" data-aos="fade-up">DÍA DE LAS TIC'S</h1>

                <p class="container/1  fw-bolder" data-aos="fade-up" data-aos-delay="100">"Conectando talentos, creando futuro"</p>
                <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
                    <a href="#InvitadosEspeciales" class="btn-get-started">Ver Programa <i class="bi bi-arrow-right"></i></a>
                  
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>