<section id="InvitadosEspeciales" class="invitadosEspeciales section">
    <!--jaz-->
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Programa de Actividades </h2>
        <p>"¡Prepárate para vivir un día lleno de innovación, tecnología y aprendizaje!"<br></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Recepción y registro de estudiantes.</h3>
                    <p>08:30 – 09:00 horas</p>
                    <p>Lugar:Explanada TecNM Campus Ciudad Serdán</p>
                   
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item item-orange position-relative">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Evento inaugural</h3>
                    <p>09:00 – 09:30 horas</p>
                    <p>Lugar:  Explanada TecNM Campus Ciudad Serdán</p>
                    <!--<a href="#" class="read-more stretched-link"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>-->
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item item-teal position-relative">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Conferencia. “Tecnologías Emergentes”</h3>
                    <p>09:30 - 10:30 horas</p>
                    <p>Ponente: Ricardo Josue Pérez Altamirano es MVP Microsoft.</p>
                     <p>Lugar:  Explanada TecNM Campus Ciudad Serdán</p>
                   
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item item-red position-relative">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Conferencia. “Las Tics en la actualidad”</h3>
                    <p>10:30 - 11:30 horas</p>
                    <p>Ponente:  Benjamin Romero Tanuz de la empresa CodeLand</p>
                    <p> <a href="https://mx.linkedin.com/in/bromerot" target="_blank">Visita su LinkedIn</a></p>
                    <p>Lugar:Explanada TecNM Campus Ciudad Serdán</p>
                   
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item item-indigo position-relative ">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Talleres para alumnos de bachillerato:</h3>
                    <p>11:00 – 13:30 horas.</p>

                    <p>Desarrollo Web con IA (Laboratorio FISEP)</p>
                    <p>Hacking ético y buenas prácticas de seguridad informática (Laboratorio Cisco)</p>
                    <p>Electrónica (Laboratorio de Electrónica)</p>
                    <p>Desarrollo de Apps móviles (Laboratorio de LIA)</p>

              

                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item item-pink position-relative text-center">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Concursos:</h3>
                    <p>11:00 – 13:30 horas.</p>

                    <p>Concurso de Programación</p>
                    <p>Concurso de Robótica</p>
                    <p>Torneos de Videojuegos</p>

                </div>
            </div><!-- End Service Item -->


            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="700">
                <div class="service-item item-teal position-relative">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Exposición de Proyectos (Stands)”</h3>
                    <p>09:00 – 13:00 horas.  </p>
                    <p>	Muestra de proyectos de estudiantes sobre tecnología e innovación. </p>
                    </div>
            </div>




            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item item-orange position-relative">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Premiación y Clausura</h3>
                    <p>10:30 - 11:30 horas</p>
                    <p>Lugar:  Explanada del TecNM campus Ciudad Serdán</p>
                </div>
            </div>
                    
                    
                  
              
            <div class="col-lg-4 col-md-6 fw-bold" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item item-cyan position-relative">
                    <i class="bi bi-calendar-check icon"></i>
                    <h3>Convivencia (DJ)</h3>
                    <p>14:00 – 15:30 horas</p>
                    <p>Lugar:  Explanada del TecNM campus Ciudad Serdán</p>

                </div>
            </div>
                   
              

        </div>

    </div>

</section>