<section id="Programa" class="programa section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        
        <p>"Las TIC están en todo lo que haces… ¿te imaginas lo que puedes lograr si las dominas?"<br></p>
        <h2>Invitados especiales </h2>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card text-start fw-bold">
                    <img src="assets/img/values-1.png" class="img-fluid" alt="">
                    <ul >
                        <li>Centro Escolar Presidente Francisco I. Madero C.E.P.F.I.M</li>
                        <li>Bachillerato General Oficial "Lic. Melquiades Morales Flores"</li>
                        <li>Centro de Estudios de Bachillerato "Lic. Jesús Reyes Heroles" (CEB) 6/13</li>
                        <li>Colegio de Bachilleres del Estado de Puebla Plantel 16 (COBAEP)</li>
                        <li>Colegio de Bachilleres del Estado de Puebla Plantel 22 (COBAEP)</li>

                    </ul>
                </div>
            </div>


            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="card text-start fw-bold">
                    <img src="assets/img/values-2.png" class="img-fluid" alt="">
                    <ul>
                        <li>Colegio de Estudios Científicos y Tecnológicos del Estado de Puebla (CECYTEP) Plantel Guadalupe Victoria, Puebla</li>
                        <li>Cbtis254 Palmar de Bravo</li>
                        <li>Colegio Nacional de Educación Profesional Técnica (Conalep Plantel Ciudad Serdán)</li>
                        <li>Bachillerato General Oficial "12 de Octubre"</li>
                        <li>Bachillerato General "Luis Donaldo Colosio Murrieta"</li>

                    </ul>
                </div>
            </div>
          


        </div>

    </div>

</section>