<section id="Programa" class="programa section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        
        <p>"Las TIC están en todo lo que haces… ¿te imaginas lo que puedes lograr si las dominas?"<br></p>
        <h2>Invitados especiales </h2>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card text-start fw-bold">
                    <img src="assets/img/values-1.png" class="img-fluid" alt="">
                    <ul >
                        <li>CENTRO ESCOLAR PRESIDENTE FRANCISCO I. MADERO C.E.P.F.I.M</li>
                        <li>BACHILLERATO GENERAL OFICIAL "LIC. MELQUIADES MORALES FLORES"</li>
                        <li>CENTRO DE ESTUDIOS DE BACHILLERATO "LIC. JESÚS REYES HEROLES" (CEB) 6/13</li>
                        <li>COLEGIO DE BACHILLERES DEL ESTADO DE PUEBLA PLANTEL 16 (COBAEP)</li>
                        <li>COLEGIO DE BACHILLERES DEL ESTADO DE PUEBLA PLANTEL 22 (COBAEP)</li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="card text-start fw-bold">
                    <img src="assets/img/values-2.png" class="img-fluid" alt="">
                    <ul>
                        <li>COLEGIO DE ESTUDIOS CIENTÍFICOS Y TECNOLÓGICOS DEL ESTADO DE PUEBLA (CECYTEP) PLANTEL GUADALUPE VICTORIA, PUEBLA</li>
                        <li>CBTIS254 PALMAR DE BRAVO</li>
                        <li>COLEGIO NACIONAL DE EDUCACIÓN PROFESIONAL TÉCNICA (CONALEP PLANTEL CIUDAD SERDÁN)</li>
                        <li>BACHILLERATO GENERAL OFICIAL "12 DE OCTUBRE"</li>
                        <li>BACHILLERATO GENERAL "LUIS DONALDO COLOSIO MURRIETA"</li>
                    </ul>
                </div>
            </div>
          


        </div>

    </div>

</section>